{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
          <h1 class="text-center display-3">{{.Title | markdownify }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

{{ with .Params.gallery }}
<hr>
<section class="section">
  <div class="container">
    {{ range $i,$e := . }}
    {{ if $i }}
    <br>
    {{ end }}
    <div class="col-lg-8 mx-auto text-center">
      <img src="{{ $e | absURL }}" alt="author" class="img-fluid w-100" alt="Gallery Image">
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}