{{ define "main" }}

<section class="section-sm pb-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="text-center">{{.Title}}</h1>
        {{ with .Params.image }}
        <img src="{{ . | absURL }}" alt="author" class="author-img">
        {{ end }}
      </div>
    </div>
  </div>
</section>

<!-- Fixierte Buttons -->
<div class="fixed-buttons">
  <a href="#" class="btn btn-primary">Lila Button</a>
  <a href="#" class="btn btn-secondary">Blauer Button</a>
</div>

<section class="section">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <div class="content">{{.Content}}</div>
    </div>
  </div>
</section>

{{ end }}