<!-- Bestehender Doctolib-Button -->
<a
  href=" https://www.doctolib.de/osteopath/berlin/maren-kammhoff?utm_campaign=website-button&amp;utm_source=maren-kammhoff-website-button&amp;utm_medium=referral&amp;utm_content=option-8&amp;utm_term=maren-kammhoff"
  style="
    position: fixed;
    z-index: 20000;
    top: 180px;
    right: 0;
    display: block;
    text-align: center;
    opacity: 0.85;
    background-color: #0596de;
    color: #ffffff;
    font-size: 14px;
    overflow: hidden;
    width: 100px;
    border-radius: 4px 0 0 4px;
    text-decoration: none;
    padding: 10px;
    line-height: 1.4;
  "
  rel="noopener noreferrer"
  target="_blank"
  ><span style="font-size: 14px"></span>
		{{ $var := .Site.Language }}
    {{ if in $var "de" }}
		 Termin<br />
    online buchen
		{{ else if in $var "en" }}
		Book<br />
    online
		{{ else if in $var "fr" }}
		Réservez<br />
		en ligne
		{{ else if in $var "es" }}
		Reserva<br />
en línea
		{{ else }}
		Termin<br />
    online buchen
		{{ end }}
  </span>
  <img
    style="height: 15px; margin-top: 10px; vertical-align: middle; width: auto"
    src="https://www.doctolib.de/external_button/doctolib-white-transparent.png"
    alt="Doctolib"
/></a>

<!-- Neuer rosa Hinweis-Button -->

<div class="btn-info" style="position: fixed; top: 310px; right: 0; z-index: 20000;">
  Bitte beachten:<br />FFP2-Masken bei Infektionen
</div>

<div class="btn-info" style="position: fixed; top: 310px; right: 0; z-index: 20000;">
  {{ $lang := .Site.Language }}
  {{ if eq $lang "de" }}
    Bitte beachten:<br />FFP2-Masken bei Infektionen
  {{ else if eq $lang "en" }}
    Please note:<br />FFP2 masks for infections
  {{ else if eq $lang "fr" }}
    Veuillez noter :<br />Masques FFP2 en cas d'infections
  {{ else if eq $lang "es" }}
    Tenga en cuenta:<br />Mascarillas FFP2 en caso de infecciones
  {{ else }}
    Bitte beachten:<br />FFP2-Masken bei Infektionen
  {{ end }}
</div>