{{ define "main" }}

<section class="section-sm pb-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <img src="{{ .Params.image | absURL }}" class="img-fluid w-100" alt="{{ .Params.title }}">
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <div class="content">{{.Content}}</div>
    </div>
  </div>
</section>

{{ with .Params.gallery }}
<hr>
<section class="section">
  <div class="container">
    {{ range $i,$e := . }}
    {{ if $i }}
    <br>
    {{ end }}
    <div class="col-lg-6 mx-auto text-center">
      <img src="{{ $e | absURL }}" class="img-fluid w-100" alt="Gallery Image">
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}