{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="text-center">{{.Title | markdownify }}</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2420.9572408078243!2d13.296262015707498!3d52.642685534882276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a9ab32c9124bd5%3A0x4de8a9fa2a076c01!2sMehringer%20Str.%2059%2C%2013465%20Berlin%2C%20Germany!5e0!3m2!1sen!2sus!4v1618236891767!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

{{ with .Params.gallery }}
<hr>
<section class="section">
  <div class="container">
    {{ range $i,$e := . }}
    {{ if $i }}
    <br>
    {{ end }}
    <div class="col-lg-8 mx-auto text-center">
      <img src="{{ $e | absURL }}" alt="author" class="img-fluid w-100" alt="Gallery Image">
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}

