{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="text-center">{{.Title | markdownify }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div id="map" class="row col-lg-10 text-center" style="height:300px"></div>
    <div class="span12 text-center">
      <span id="load" class="btn btn-sm btn-primary ml-2">Stimme Nutzung von Google Maps Service zu.</span>
    </div>
    <script>
      // Set our variables
      const triggerButton = document.querySelector('#load') // our trigger button
      const storageItem = 'mapsConsent' // key of the item to check if consent is given
      const script = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBZFjaqm9QWMYSBNDjkaEA55f-fUJo8HjI&callback=initMap' // script to load
      const attributes = {} // could contain something like { 'defer': true }

      // Basic google maps init function
      window.initMap = () => {
        let map = new google.maps.Map( document.getElementById( 'map' ), {
		  		center: {
		  			lat: 52.5200,
		  			lng: 13.4050
		  		},
		  		zoom: 14,
          mapTypeId: 'roadmap',
          scaleControl: true,
          fullscreenControlOptions: {
		        position: google.maps.ControlPosition.RIGHT_BOTTOM
	        },
		  	});
        let marker = new google.maps.Marker({
	        position: {
	        	lat: 52.642773420929444,
	        	lng: 13.29856871535622
	        },
	        map: map,
	        title: 'Mehringer Str. 59'
        });
        let infoWindow = new google.maps.InfoWindow({
        	content: '<h2>Johanna Hußmann Osteopathie</h2>'
        });

        marker.addListener( 'click', function() {
        	infoWindow.open( map, marker );
        });
      }

      // Our main function to handle script loading
      const loady = (trigger, storageItem, script, attributes) => {
        // Check if trigger parameter is a DOM element
        if (trigger instanceof HTMLElement === false) {
          throw new Error('Trigger is not a DOM Element.')
        }

        // Check if browser supports localStorage
        if (typeof localStorage === undefined) {
          throw new Error('localStorage is not available in this browser.')
        }

        // Read the localStorage item, to check if consent is already given
        let consent = localStorage.getItem(storageItem)

        // Function to check if script is already appended to the DOM
        const isAlreadyAppended = () => {
          const scripts = Array.from(document.getElementsByTagName('script'))
          let result = false
          scripts.forEach((s) => (s.src == script ? (result = true) : null))
          return result
        }

        // Function that creates our script element. Also adds attributes if that
        // parameter is filled with an object
        const createScriptElement = () => {
          const el = document.createElement('script')
          el.src = script
          for (let [key, value] of Object.entries(attributes)) {
            el.setAttribute(key, value)
          }
          return el
        }

        // Function that appends script to the Head. Could also be adjusted to prepend
        // it before the closing </body> if you want to.
        const appendScriptElement = (el) => {
          const isAppended = isAlreadyAppended()
          if (!isAppended) {
            document.getElementsByTagName('head')[0].appendChild(el)
          }
        }

        // Our run function that will be trigger if the user a) clicks on our trigger
        // element or b) if consent is already given and found in localStorage.
        const run = () => {
          localStorage.setItem(storageItem, true)
          consent = localStorage.getItem(storageItem)
          // hide the button
          trigger.style.visibility = 'hidden'
          const scriptElement = createScriptElement()
          appendScriptElement(scriptElement)
        }

        // Add eventListener to trigger element and check if consent is already given
        trigger.addEventListener('click', () => run())
        if (consent === 'true') trigger.click()
      }

      // Run loady
      loady(triggerButton, storageItem, script, attributes)
    </script>
</section>

{{ with .Params.gallery }}
<hr>
<section class="section">
  <div class="container">
    {{ range $i,$e := . }}
    {{ if $i }}
    <br>
    {{ end }}
    <div class="col-lg-6 mx-auto text-center">
      <img src="{{ $e | absURL }}" class="img-fluid w-100" alt="Gallery Image">
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}

