{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="text-center">{{.Title | markdownify }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div id="mapWrapper" class="col-lg-10 mx-auto text-center" style="height:300px">
        <div id="map1" class="col-lg-10 mx-auto text-center" style="height:300px"></div>
        <div id="map2" class="col-lg-10 mx-auto text-center" style="height:300px"></div>
        <span id="load" class="btn btn-sm btn-primary ml-2">Stimme Nutzung von Google Maps Service zu.</span>
      </div>
    </div>
    <script>
      // Set our variables
      const triggerButton = document.querySelector('#load') // our trigger button
      const storageItem = 'mapsConsent' // key of the item to check if consent is given
      const script = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBZFjaqm9QWMYSBNDjkaEA55f-fUJo8HjI&callback=initMap' // script to load
      const attributes = {} // could contain something like { 'defer': true }

      // Basic google maps init function
      window.initMap = () => {
        let map1 = new google.maps.Map( document.getElementById( 'map' ), {
		  		center: {
		  			lat: 52.631486756636995,
		  			lng: 13.314758529664854
		  		},
		  		zoom: 12,
          mapTypeId: 'roadmap',
          mapTypeControl: false,
          scaleControl: true,
          fullscreenControlOptions: {
		        position: google.maps.ControlPosition.RIGHT_BOTTOM
	        },
		  	});
        let map2 = new google.maps.Map( document.getElementById( 'map' ), {
		  		center: {
		  			lat: 52.49157687903312,
		  			lng: 13.36379137221043
		  		},
		  		zoom: 12,
          mapTypeId: 'roadmap',
          mapTypeControl: false,
          scaleControl: true,
          fullscreenControlOptions: {
		        position: google.maps.ControlPosition.RIGHT_BOTTOM
	        },
		  	});
        let marker1 = new google.maps.Marker({
	        position: {
	        	lat: 52.642773420929444,
	        	lng: 13.29856871535622
	        },
	        map: map1,
	        title: 'Mehringer Str. 59'
        });
        let marker2 = new google.maps.Marker({
	        position: {
	        	lat: 52.490368148161025,
	        	lng: 13.358012845294168
	        },
	        map: map2,
	        title: 'Hauptstraße 15'
        });
        let infoWindow1 = new google.maps.InfoWindow({
        	content: '<div><strong> Mehringer Str. 59, 13456 Berlin</strong></div>' +
          '<div style="border-top: 1px solid rgb(204, 204, 204); margin-top: 9px; padding: 6px; font-size: 13px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-family: Roboto, Arial;">'+
          '<a href="https://www.google.com/maps/place/Mehringer+Str.+59,+13465+Berlin,+Germany/@52.642682,13.298451,15z/data=!4m5!3m4!1s0x47a9ab32c9124bd5:0x4de8a9fa2a076c01!8m2!3d52.6426823!4d13.2984507?hl=de" target="_blank" rel="noopener" style="cursor: pointer; color: rgb(66, 127, 237); text-decoration: none;">Google Maps</a></div>'
        });
        let infoWindow2 = new google.maps.InfoWindow({
        	content: '<div><strong> Hauptstraße 15, 10827 Berlin</strong></div>' +
          '<div style="border-top: 1px solid rgb(204, 204, 204); margin-top: 9px; padding: 6px; font-size: 13px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-family: Roboto, Arial;">'+
          '<a href="https://www.google.com/maps/place/Hauptstraße+15,+10827+Berlin,+Germany/@52.4876504,13.3551375,17z/data=!3m1!4b1!4m5!3m4!1s0x47a85040c89b41f3:0x6050c7c3dbf5bb23!8m2!3d52.4876472!4d13.3573262?hl=de" target="_blank" rel="noopener" style="cursor: pointer; color: rgb(66, 127, 237); text-decoration: none;">Google Maps</a></div>'
        });

        marker1.addListener( 'click', function() {
        	infoWindow1.open( map1, marker1 );
        });
        marker2.addListener( 'click', function() {
        	infoWindow2.open( map2, marker2 );
        });
      }

      // Our main function to handle script loading
      const loady = (trigger, storageItem, script, attributes) => {
        // Check if trigger parameter is a DOM element
        if (trigger instanceof HTMLElement === false) {
          throw new Error('Trigger is not a DOM Element.')
        }

        // Check if browser supports localStorage
        if (typeof localStorage === undefined) {
          throw new Error('localStorage is not available in this browser.')
        }

        // Read the localStorage item, to check if consent is already given
        let consent = localStorage.getItem(storageItem)

        // Function to check if script is already appended to the DOM
        const isAlreadyAppended = () => {
          const scripts = Array.from(document.getElementsByTagName('script'))
          let result = false
          scripts.forEach((s) => (s.src == script ? (result = true) : null))
          return result
        }

        // Function that creates our script element. Also adds attributes if that
        // parameter is filled with an object
        const createScriptElement = () => {
          const el = document.createElement('script')
          el.src = script
          for (let [key, value] of Object.entries(attributes)) {
            el.setAttribute(key, value)
          }
          return el
        }

        // Function that appends script to the Head. Could also be adjusted to prepend
        // it before the closing </body> if you want to.
        const appendScriptElement = (el) => {
          const isAppended = isAlreadyAppended()
          if (!isAppended) {
            document.getElementsByTagName('head')[0].appendChild(el)
          }
        }

        // Our run function that will be trigger if the user a) clicks on our trigger
        // element or b) if consent is already given and found in localStorage.
        const run = () => {
          localStorage.setItem(storageItem, true)
          consent = localStorage.getItem(storageItem)
          // hide the button
          trigger.style.visibility = 'hidden'
          const scriptElement = createScriptElement()
          appendScriptElement(scriptElement)
        }

        // Add eventListener to trigger element and check if consent is already given
        trigger.addEventListener('click', () => run())
        if (consent === 'true') trigger.click()
      }

      // Run loady
      loady(triggerButton, storageItem, script, attributes)
    </script>
</section>

{{ with .Params.gallery }}
<hr>
<section class="section">
  <div class="container">
    {{ range $i,$e := . }}
    {{ if $i }}
    <br>
    {{ end }}
    <div class="col-lg-6 mx-auto text-center">
      <img src="{{ $e | absURL }}" class="img-fluid w-100" alt="Gallery Image">
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}

